.BundlesOfBundleGroup-Bundle-list {
  display: flex;
  flex-direction: column;
}

.BundlesOfBundleGroup-Bundle-list p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.32px;
  color: #525252;
  margin-bottom: 10px;
}

.BundlesOfBundleGroup-Bundle-list-ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.BundlesOfBundleGroup-add-button {
  position: relative;
}

.BundlesOfBundleGroup-add-button button {
    position: absolute;
    right: 0;
    top: 40px;
    width: 50%;
}

.BundlesOfBundleGroup-button-set {
  .bx--btn {
    width: auto;
  }

  .bx--btn:not(:focus) {
    box-shadow: none;
  }

  .bx--btn--secondary {
    color: black;
    background-color: inherit;
  }
}

@media screen and (max-width: 1040px) {
  .BundlesOfBundleGroup-add-button button {
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 100%;
      margin-bottom: 2rem;
  }

  .IconUploader-image img {
    height: 108px;
    width: 108px;
    object-fit: contain;
  }

  label.bx--btn {
    width: 100%;
    max-width: 100%;
  }
}