.log-in {
  background: transparent;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  border: none;
}

.log-out {
  background: transparent;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  border: none;
}