.BundlesOfBundleGroup-Bundle-list {
  display: flex;
  flex-direction: column;
}

.BundlesOfBundleGroup-Bundle-list p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.32px;
  color: #525252;
  margin-bottom: 10px;
}

.BundlesOfBundleGroup-Bundle-list-ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.BundlesOfBundleGroup-add-button {
  position: relative;
}

.BundlesOfBundleGroup-add-button button {
  position: absolute;
  right: 0;
  top: 40px;
  width: 50%;
}