
.CatalogPageFooter {
  display: block
  background: var(--clr-blue)
  padding: 3rem 15% 4rem
  color: var(--clr-white)
}

.CatalogPageFooter-copyright {
  font-family: Roboto
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 24px
}
