.CatalogPageContent-wrapper > div:nth-of-type(1) {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 100%;
  padding: 0 0 5%;
}

.CatalogPageContent-wrapper .CatalogTile {
  position: relative;
  margin: 0 2% 2% 0;
  background: #fff;
  padding: 2rem;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.CatalogPageContent-wrapper .CatalogTile:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.CatalogTile-card-icon {
  width: 48px;
  height: 48px;
}

.CatalogTile-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 16px 0 20px;
}

.CatalogTile-card-description {
  font-size: 16px;
  line-height: 21px;
  color: var(--clr-dark-grey);
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 20px;
}

.CatalogTile-card-category {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.CatalogTile-card-status {
  font-size: 14px;
  line-height: 26px;
  color: #0050E5;
  margin-bottom: 10px;
}

.CatalogTile-dropmenu {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (max-width: 1240px) {
  .CatalogPageContent-wrapper > div:nth-of-type(1) {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1040px) {
  .CatalogPageContent-wrapper > div:nth-of-type(1) {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 100%;
  }
}
