.IconUploader {

}

.IconUploader-image div[class^="bx--col-"] {
  padding-right: 0;
  padding-left: 0;
}

.IconUploader-image{

}

.IconUploader-load-title {

}

.IconUploader-load-subtitle {

}

.IconUploader-delete {
  border: none;
  position: absolute;
  background: #f4f4f4;
  color: #0f62fe;
  border-radius: 20px;
  padding: 1px 8px;
  transform: rotate(45deg);
  font-size: 23px;
  top: 2px;
}

.IconUploader-delete button {

}