.BundleGroupStatusFilter-select {
  width: 32%;
}

.BundleGroupStatusFilter-select .bx--select-input {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.28572;
  letter-spacing: 0.16px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 3rem 0 1rem;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 0;
  color: #161616;
  cursor: pointer;
  opacity: 1;
  transition: outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

@media screen and (max-width: 1240px) {
  .BundleGroupStatusFilter-select {
    width: 49%;
  }
}