@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --clr-blue: #002F87;
  --clr-white: #ffffff;
  --clr-black: #101820;
  --clr-grey: #EAF0F5;
  --clr-light-grey: #F4F4F4;
  --clr-dark-grey: #72767B;
  --clr-darkest-grey: #4f5153;
  --clr-transparent: transparent;
  --clr-violet: #ECF3FF;
  --clr-light-blue: #00A0DF;
}

.CatalogPage {
  background: var(--clr-transparent);
}

.CatalogPage-wrapper {
  padding: 0 15% 4rem;
}

.CatalogPage-breadcrumb {
  margin: 2rem 0;
}

.CatalogPage-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;
  color: var(--clr-black);
  margin-bottom: 20px;
}

.bx--grid {
  padding-right: 0;
  padding-left: 0;
}

button:focus, button {
  outline: 0;
}

::-webkit-scrollbar {
  width: 1.5em;
  height: 1.3em;
}

::-webkit-scrollbar-track {
  background: var(--clr-grey);
  border-radius: 0;
  margin-block: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-dark-grey);
  border: 0.25em solid var(--clr-grey);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-darkest-grey);
}

.bx--form-item {
  margin: 20px 0;
}

.bx--modal .bx--text-area {
  outline-offset: -2px;
  background-color: var(--clr-light-grey);
}

.bx--text-area:focus, .bx--text-area:active {
  outline-offset: -2px;
  background: var(--clr-white);
}