@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --clr-blue: #002F87;
  --clr-white: #ffffff;
  --clr-black: #101820;
  --clr-grey: #EAF0F5;
  --clr-light-grey: #F4F4F4;
  --clr-dark-grey: #72767B;
  --clr-darkest-grey: #4f5153;
  --clr-transparent: transparent;
  --clr-violet: #ECF3FF;
  --clr-light-blue: #00A0DF;
}

.CatalogPage {
  background: var(--clr-grey);
  min-height: calc(83vh - 70px);
}

.CatalogPage-wrapper {
  padding: 0 14.8% 4rem;
}

.CatalogPage-breadcrumb {
  margin: 2rem 0rem;
}

.CatalogPage-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;
  color: var(--clr-black);
  margin-bottom: 20px;
}

.bx--grid {
  padding-right: 0;
  padding-left: 0;
}

button:focus, button {
  outline: 0;
}

::-webkit-scrollbar {
  width: 1.5em;
  height: 1.3em;
}

::-webkit-scrollbar-track {
  background: var(--clr-grey);
  border-radius: 0;
  margin-block: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-dark-grey);
  border: 0.25em solid var(--clr-grey);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-darkest-grey);
}

.bx--form-item {
  margin: 20px 0;
}

.bx--modal .bx--text-area {
  outline-offset: -2px;
  background-color: var(--clr-light-grey);
}

.bx--text-area:focus, .bx--text-area:active {
  outline-offset: -2px;
  background: var(--clr-white);
}

.bx--modal-footer {
  justify-content: space-between;
}

.bx--modal-footer .bx--btn {
  height: 4rem;
  flex: 0 1 33%;
}

.bx--data-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3rem;
}

.button-delete {
  margin: 0;
  display: inline-block;
  transform: rotate(45deg);
  font-size: 24px;
  top: -1px;
  right: 6px;
  position: absolute;
  cursor: pointer;
  color: dimgrey;
}

.bx--tag span a  {
  padding: 2px 20px 2px 2px;
  display: inline-block;
}

.bx--tag {
  position: relative;
}

.bx--pagination {
  background-color: #ffffff;
}

.bx--overflow-menu-options {
  background-color: #fff;
}

.notify-user-absense {
  font-family: Roboto;
  line-height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  background: var(--clr-grey);
}

.bx--search-input {
  font-size: 11px;
  padding: 0px;
  letter-spacing: 0px
}

@media screen and (max-width: 1040px) {
  .CatalogPage-wrapper {
    padding: 0 3.8% 4rem;
  }

  .bx--breadcrumb {
    display: flex;
    flex-wrap: wrap;
  }

  .bx--modal-footer .bx--btn {
    height: 4rem;
    flex: 0 1 45%;
  }
}
.navigation-bar{
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  margin-left: auto;
}

.navigation-bar > :link {
  text-decoration: none;
}